Repository Azure/durabletask, pull requests merged in 2021-01, with the labels that each got.

#494 Public ReflectionBasedTaskActivity.DataConverter setter
  src/DurableTask.Core/ReflectionBasedTaskActivity.cs
Labels: dt.core, enhancement

#481 sanitize the instance ids used as partition keys
  src/DurableTask.AzureStorage/MessageManager.cs
  src/DurableTask.AzureStorage/Tracking/AzureTableTrackingStore.cs
  src/DurableTask.AzureStorage/Tracking/KeySanitation.cs
  src/DurableTask.AzureStorage/Tracking/OrchestrationInstanceStatusQueryCondition.cs
  test/DurableTask.AzureStorage.Tests/AzureStorageScenarioTests.cs
  test/DurableTask.AzureStorage.Tests/KeySanitationTests.cs
Labels: dt.azurestorage

#497 Remove possible nullPtr exception in OnProcessWorkItemAsync
  src/DurableTask.Core/TaskOrchestrationDispatcher.cs
Labels: bug
