Repository Azure/durabletask, pull requests merged in 2023-09, with the labels that each got.

#955 Revise entity state and status format and access
  src/DurableTask.Core/Entities/ClientEntityHelpers.cs
  src/DurableTask.Core/Entities/StateFormat/EntityStatus.cs
  src/DurableTask.Core/Entities/StateFormat/SchedulerState.cs
  src/DurableTask.Core/TaskEntityDispatcher.cs
Labels: dt.core, P1, core-entities

#958 Make criticalSectionId of current critical section externally visible
  src/DurableTask.Core/Entities/OrchestrationEntityContext.cs
Labels: dt.core, P1, core-entities

#952 remove orchestration tags from entity action
  src/DurableTask.Core/Entities/OperationFormat/StartNewOrchestrationOperationAction.cs
  src/DurableTask.Core/TaskEntityDispatcher.cs
Labels: dt.core, P1, core-entities

#953 Rename OperationBatchRequest and OperationBatchResponse
  src/DurableTask.Core/Entities/OperationFormat/EntityBatchRequest.cs
  src/DurableTask.Core/Entities/OperationFormat/EntityBatchResult.cs
  src/DurableTask.Core/Entities/TaskEntity.cs
  src/DurableTask.Core/Logging/LogEvents.cs
  src/DurableTask.Core/Logging/LogHelper.cs
  src/DurableTask.Core/TaskEntityDispatcher.cs
Labels: dt.core, P1, core-entities

#954 Revise how entity batches are executed and handle failures
  src/DurableTask.Core/Entities/OperationFormat/EntityBatchResult.cs
  src/DurableTask.Core/Entities/TaskEntity.cs
  src/DurableTask.Core/TaskEntityDispatcher.cs
Labels: dt.core, P1, core-entities

#965 revise operation result encoding and add more comments.
  src/DurableTask.Core/Entities/EventFormat/ResponseMessage.cs
  src/DurableTask.Core/Entities/OperationFormat/OperationResult.cs
  src/DurableTask.Core/Logging/LogEvents.cs
  src/DurableTask.Core/TaskEntityDispatcher.cs
Labels: P1, core-entities

#957 revise entity backend properties and implement entity backend queries
  src/DurableTask.AzureStorage/AzureStorageOrchestrationService.cs
  src/DurableTask.AzureStorage/AzureStorageOrchestrationServiceSettings.cs
  src/DurableTask.AzureStorage/EntityTrackingStoreQueries.cs
  src/DurableTask.AzureStorage/OrchestrationSessionManager.cs
  src/DurableTask.AzureStorage/Tracking/AzureTableTrackingStore.cs
  src/DurableTask.AzureStorage/Tracking/OrchestrationInstanceStatusQueryCondition.cs
  src/DurableTask.Core/Entities/EntityBackendProperties.cs
  src/DurableTask.Core/Entities/EntityBackendQueries.cs
  src/DurableTask.Core/Entities/IEntityOrchestrationService.cs
  src/DurableTask.Core/Query/OrchestrationQuery.cs
  src/DurableTask.Core/TaskEntityDispatcher.cs
  src/DurableTask.Core/TaskHubWorker.cs
  src/DurableTask.Core/TaskOrchestrationDispatcher.cs
Labels: dt.azurestorage, dt.core, P1, core-entities

#973 Update versions for ADO feed
  src/DurableTask.AzureStorage/DurableTask.AzureStorage.csproj
  src/DurableTask.Core/DurableTask.Core.csproj
Labels: core-entities
